.music-main-wrap{
  width: 100%;
  height: calc(100% - 100px);
}

.music-player{
  display: none;
}

/****************************************************************************************************/
/* playlist */
.music-playlist-pane{
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  height: 100%;
  border-right: 1px solid #E0E0E0;
  background-color: white;
}

.music-playlist-top-bar{
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  line-height: 47px;
  border-bottom: 1px solid #E0E0E0;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 1.2em;
}

.music-playlist-top-bar *{
  vertical-align: middle;
}

.music-playlist-top-bar button{
  float: right;
  margin: 6px;
}

.music-playlist-content{
  width: 100%;
  height: calc(100% - 48px);
  overflow: auto;
}

/****************************************************************************************************/
/* library */
.music-library-wrap{
  display: inline-block;
  width: calc(100% - 300px);
  height: 100%;
  overflow: auto;
  background-color: white;
}

.music-library{
  width: 100%;
  height: 100%;
}

.music-library-search{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
  border-bottom: 1px solid #E0E0E0;
}

.music-library.scrolled .music-library-search{
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
}

.music-library-content{
  width: 100%;
  height: calc(100% - 48px);
  overflow: auto;
}

/****************************************************************************************************/
/* Control */
.music-control-pane{
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  border-top: 1px solid #E0E0E0;
}

.music-control-pane-cover{
  display: inline-block;
  vertical-align: top;
  width: 99px;
  height: 99px;
}

.music-control-pane-right{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 99px);
  height: 99px;
}

.music-control-progress-bar{
  transition: 0.2s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  cursor: pointer;
  background-color: #BBDEFB;
}

.music-control-progress-bar:hover{
  height: 10px;
}

.music-control-progress-bar-current{
  transition: 0.2s;
  width: 0;
  height: 100%;
  background-color: #2196F3;
}

.music-control-music-title{
  font-size: 1.2em;
  height: 1.3em;
  line-height: 1.3em;
  margin-top: 8px;
  margin-left: 16px;
}

.music-control-music-artist{
  color: #BDBDBD;
  height: 1.3em;
  line-height: 1.3em;
  margin-left: 16px;
}

.music-control-buttons-wrap{
  width: 100%;
  text-align: center;
}

.music-control-buttons-wrap button{
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
}

/* volume */
.music-control-volume-bar-wrap{
  z-index: 1000;
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 20px;
  height: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #E0E0E0;
}

.music-control-volume-button:hover .music-control-volume-bar-wrap{
  opacity: 1;
  width: 200px;
}

.music-control-volume-bar{
  width: 100%;
  height: 100%;
  background-color: #BBDEFB;
}

.music-control-volume-bar-current{
  width: 100%;
  height: 100%;
  background-color: #2196F3;
}

/****************************************************************************************************/
/* Playlists */
.playlist{
  transition-duration: 0.2s;
  border-bottom: 1px solid #E0E0E0;
  height: 48px;
  overflow: hidden;
}

.playlist:last-child{
  border-bottom: none;
}

.playlist.expanded{
  height: auto;
}

.playlist-name{
  box-sizing: border-box;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  height: 48px;
  line-height: 48px;
  font-family: Roboto-Bold;
  font-size: 1.1em;
  cursor: pointer;
}

.playlist-name:hover{
  background-color: #F5F5F5;
}

/****************************************************************************************************/
/* Music */
.music{
  box-sizing: border-box;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.music:hover{
  background-color: #F5F5F5;
}

.music.active{
  font-family: Roboto-Bold;
}
