/****************************************************************************************************/
/* Typography */
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	margin: 0;
}

h1{
	font-family: Roboto-Light;
	font-size: 8.6em;
}

h2{
	font-family: Roboto-Regular;
	font-size: 4.3em;
}

h3{
	font-family: Roboto-Regular;
	font-size: 3.5em;
}

h4{
	font-family: Roboto-Regular;
	font-size: 2.6em;
}

h5{
	font-family: Roboto-Regular;
	font-size: 1.8em;
}

h6{
	font-family: Roboto-Medium;
	font-size: 1.5em;
}

.caption {
    color: rgba(0,0,0,0.54);
}

/****************************************************************************************************/
/* Special */
.no-select{
		user-select: none;
}

.badge {
	display: inline-block;
	box-sizing: border-box;
	min-width: 22px;
	height: 22px;
	line-height: 22px;
	padding-left: 5px;
	padding-right: 5px;
  margin: 5px;
	border-radius: 11px;
	color: white;
	font-family: RobotoCondensed-Regular;
	font-size: 12px;
	text-align: center;
	background-color: #009688; /* teal 500 */
}

/****************************************************************************************************/
/* Separator */
hr {
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    margin-top: 8px;
    margin-bottom: 8px;
}

.vr{
	display: inline-block;
	width: 1px;
	height: 32px;
	background-color: black;
	margin: 8px;
	border: 0;
}

.dark .vr{
	background-color: white;
}

/****************************************************************************************************/
/* button */
button{
	position: relative;
	transition: 0.2s;
	box-sizing: border-box;
	min-width: 80px;
	height: 36px;
	line-height: 36px;
	padding: 0;
	padding-left: 16px;
	padding-right: 16px;
	border: none;
	border-radius: 2px;
	margin: 8px;
	background-color: #2196F3; /* blue 500 */
	font-family: Roboto-Medium;
	font-size: 1em;
	color: white;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

button *{
	vertical-align: middle;
}

button:hover{
	box-shadow: 0 2px 2px rgba(0,0,0,0.26);
}

button:active{
	background-color: #1976D2; /* blue 700 */
}

button:focus::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.12);
}

button:disabled{
	color: rgba(0,0,0,0.26);
	background-color: transparent !important;
	box-shadow: none;
	cursor: default !important;
}

button:disabled::after{
	display: none !important;
}

/* flat button */
.flatButton{
	color: black;
	background-color: transparent;
}

.flatButton.colored{
	color: #2196F3; /* blue 500 */
}

.dark .flatButton{
	color: white;
}

.flatButton:hover, .flatButton:focus{
	background-color: rgba(0,0,0,0.12); /* black 12% */
	box-shadow: none;
}

.dark .flatButton:hover, .dark .flatButton:focus{
	background-color: rgba(204,204,204,0.12); /* #CCCCCC 12% */
}

.flatButton:active{
	background-color: rgba(0,0,0,0.25); /* black 25% */
}

.dark .flatButton:active{
	background-color: rgba(204,204,204,0.25); /* #CCCCCC 25% */
}

.flatButton:focus::after{
	display: none;
}

.flatButton:disabled{
	color: rgba(255,255,255,0.3);
}

/* other button */
.iconButton{
	min-width: 0;
	padding-left: 8px;
    padding-right: 8px;
}

/****************************************************************************************************/
/* textField */
input{
	box-sizing: content-box;
	height: 18px;
	padding: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	border: none;
	background-color: transparent;
	font-size: 1em;
	color: black;
	outline: none;
}

.dark input{
	color: white;
}

.dark *::selection{
	background: #FF9800; /* orange 500 */
}

.textField{
	transition: 0.2s;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	min-width: 200px;
	height: 72px;
	line-height: 1em;
}

.textField.fullWidth{
	width: 100%;
}

.textField.condensed{
	height: 56px;
	min-width: 64px;
}

.textField.condensed.active, .textField.condensed.notEmpty{
	min-width: 200px;
}

.textField::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 8px;
	width: 100%;
	height: 1px;
	background-color: #9E9E9E;
}

.textField::after{
	content: "";
	transition: 0.2s;
	position: absolute;
	left: 50%;
	bottom: 8px;
	transform: translateX(-50%);
	width: 0;
	height: 2px;
	background-color: #0D47A1; /* blue 900 */
}

.dark .textField::after{
	background-color: #FF9800; /* orange 500 */
}

.active::after{
	width: 100%;
}

.textField label{
	transition: 0.2s;
	position: absolute;
	left: 0;
	top: 37px;
	font-size: 1em;
	color: #9E9E9E;
}

.textField.condensed label{
	top: 21px;
}

.notEmpty label, .active label{
	top: 16px;
	font-size: 0.8em;
	color: #0D47A1; /* blue 900 */
}

.condensed.notEmpty label, .condensed.active label{
	top: 5px;
}

.dark .notEmpty label, .dark .active label{
	color: #FF9800; /* orange 500 */
}

.textField input{
	position: absolute;
	left: 0;
	bottom: 8px;
	width: 100%;
}

/****************************************************************************************************/
/* radio button */
.radioButton{
	margin-right: 5px;
}

.radioButton *{
	vertical-align: middle;
}

input[type="radio"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	transition: 0.2s;
	position: relative;
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px;
	border: 2px solid #757575; /* gray 600 */
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
}

input[type="radio"]+label{
	color: #757575; /* gray 600 */
}

input[type="radio"]::after{
	content: "";
	transition: 0.2s;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	transform: translate(-50%, -50%);
	background-color: #0D47A1; /* blue 900 */
	border-radius: 50%;
}

@keyframes radioChecked{
	from{ opacity: 0.4;}
	to{ opacity: 0; }
}

input[type="radio"]::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	transform: translate(-50%, -50%);
	background-color: #0D47A1; /* blue 900 */
	border-radius: 50%;
	opacity: 0;
}

input[type="radio"]:checked{
	border-color: #0D47A1; /* blue 900 */
}

input[type="radio"]:checked+label{
	color: #0D47A1; /* blue 900 */
}

input[type="radio"]:checked::before{
	animation-name: radioChecked;
	animation-duration: 0.2s;
}

input[type="radio"]:checked::after{
	width: 8px;
	height: 8px;
}

/****************************************************************************************************/
/* progressBar */
.progressBarWrap{
    position: relative;
    width: 100%;
    min-width: 300px;
    height: 36px;
    line-height: 36px;
    padding-bottom: 5px;
	overflow: hidden;
}

.progressBarWrap *{
    vertical-align: top;
}

.progressBarTitle{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.2em;
}

.progressBarLeft, .progressBarRight{
    display: inline-block;
    font-size: 1em;
}

.progressBarLeft{
    float: left;
}

.progressBarRight{
    float: right;
}

.progressBar{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #BBDEFB; /* blue 100 */
}

.progressBarFill{
    width: 0%;
    height: 100%;
    background-color: #2196F3; /* blue 500 */
}

.progressBarWrap.error .progressBar{
	background-color: #FFCDD2; /* red 100 */
}

.progressBarWrap.error .progressBarFill{
	background-color: #F44336; /* red 500 */
}

@keyframes progressBarIndeterminate {
    0%   {left: -50%;}
    100% {left: 100%;}
}

.progressBarWrap.indeterminate .progressBarFill{
	position: relative;
	width: 50% !important;
	animation-name: progressBarIndeterminate;
    animation-duration: 2s;
	animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/****************************************************************************************************/
/* Popup */
.popupWrap{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    z-index: 2000;
}

.popup{
    position: relative;
    top: 150%;
    transform: translateY(-50%);
    display: inline-block;
    max-width: calc(100% - 100px);
    max-height: calc(100% - 100px);
    padding: 24px;
    padding-bottom: 52px;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    text-align: left;
}

.popupTitle{
    margin-bottom: 20px;
    font-family: Roboto-Bold;
    font-size: 20px
}

.popupContent{
    padding-bottom: 24px;
}

.popupAction{
    position: absolute;
	bottom: 0;
	right: 8px;
    text-align: right;
}

.popupAction button{
    margin-right: 0;
}

/****************************************************************************************************/
/* Tabs */
.tabs{
	width: 100%;
	height: 100%;
}

.tabBar{
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: #2196F3;
}

.tabContent{
    width: 100%;
    height: calc(100% - 48px);
    overflow: auto;
}

.tabButton{
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 2px solid rgba(0,0,0,0);
    color: rgba(255,255,255,0.54);
    background: none;
    cursor: pointer;
}

.tabButton.active{
    color: white;
    border-bottom: 2px solid #FF9A00;
}

.tabButton *{
	vertical-align: middle;
}

.tabButton button{
	margin-right: 0;
	padding: 0;
	height: 25px;
	line-height: 25px;
}

.tab{
    display: none;
    width: 100%;
    height: 100%;
}

/****************************************************************************************************/
/* topBar */
.topBar, .subTopBar{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 56px;
	line-height: 56px;
	padding-left: 16px;
	padding-right: 16px;
	overflow: hidden;
	color: white;
	background-color: #0D47A1; /* blue 900 */
}

.subTopBar{
	background-color: #1976D2; /* blue 700 */
}

.topBar *, .subTopBar *{
	vertical-align: middle;
}

.topBarLeftPane{
	height: 100%;
	position: absolute;
	top: 0;
	right: 16px;
	background-color: #0D47A1; /* blue 900 */
}

.subTopBar .topBarLeftPane{
	background-color: #1976D2; /* blue 700 */
}

/****************************************************************************************************/
/* content */
.content{
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 56px);
	overflow: auto;
}

/****************************************************************************************************/
/* other */
.notSaved::before{
	content: "* ";
}
