input {
  outline: none;
}

/****************************************************************************************************/
/* Button */

button, m-button {
  position: relative;
  display: inline-block;
  outline: none;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--secondary);
  color: var(--secondary-text);
  font-family: roboto-bold;
  margin-left: 8px;
  vertical-align: middle;
  letter-spacing: 0.5px;
}

button:first-child, m-button:first-child {
  margin-left: 0;
}

button:hover, m-button:hover {
  background-color: var(--secondary-dark);
}

button.text, button.icon, m-button.text, m-button.icon {
  background-color: transparent;
  color: var(--secondary);
}

button.text:hover, button.icon:hover, m-button.text:hover, m-button.icon:hover {
  background-color: var(--darker);
}

button.icon, m-button.icon {
  font-family: material-icons;
  font-size: 24px;
  padding-left: 8px;
  padding-right: 8px;
  letter-spacing: normal;
}

m-button .tooltip {
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--darker2);
  border-radius: 4px;
  pointer-events: none;
  color: var(--primary-text);
  font-family: roboto-medium;
  padding: 8px;
  font-size: 12px;
  line-height: 1em;
  letter-spacing: 0.5px;
}

m-button .tooltip.visible {
  opacity: 1;
  top: 40px;
}

/****************************************************************************************************/
/* Text fields */

text-field {
  display: inline-block;
  position: relative;
  width: 280px;
  margin-top: 10px;
}

text-field input {
  position: relative;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid var(--primary-light);
  border-radius: 4px;
  color: var(--primary-text);
  width: 100%;
  height: 56px;
  padding-left: 12px;
  padding-right: 12px;
}

text-field:hover input {
  border: 2px solid var(--primary-light);
}

text-field.focus input {
  border: 2px solid var(--secondary);
}

text-field:hover input, text-field.focus input {
  padding-left: 11px;
  padding-right: 11px;
}

text-field label {
  display: inline-block;
  transition: 0.2s;
  position: absolute;
  top: 18px;
  left: 9px;
  color: var(--primary-light);
  padding-left: 4px;
  padding-right: 4px;
  background-color: var(--primary);
  pointer-events: none;
  font-size: 1em;
}

text-field.focus label {
  color: var(--secondary);
}

text-field.focus label, text-field.not-empty label {
  transform: none;
  top: -8px;
  font-size: 0.8em;
}

text-field p {
  box-sizing: border-box;
  margin: 0;
  padding-right: 12px;
  padding-left: 12px;
  font-size: 0.8em;
  width: 100%;
  height: 21px;
  line-height: 21px;
  color: var(--danger);
}

/****************************************************************************************************/
/* Checkbox */

check-box {
  display: inline-block;
  height: 32px;
  line-height: 32px;
}

check-box input {
  transition: 0.2s;
  position: relative;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  border: 2px solid var(--primary-light);
  border-radius: 4px;
  background-color: transparent;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
}

check-box input:before, check-box input:after {
  transition: 0.2s;
  position: absolute;
  content: '';
  display: inline-block;
  background-color: transparent;
}

check-box input:before {
  top: 10px;
  left: 7px;
  width: 10px;
  height: 3px;
  transform: rotate(-45deg);
}

check-box input:after {
  top: 11px;
  left: 4px;
  width: 7px;
  height: 3px;
  transform: rotate(45deg);
}

check-box input:checked {
  border: 2px solid var(--secondary);
  background-color: var(--secondary);
}

check-box input:checked:before, check-box input:checked:after {
  background-color: var(--primary);
}

check-box label {
  transition: 0.2s;
  margin-left: 4px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

check-box input:checked + label {
  color: var(--secondary);
}

/****************************************************************************************************/
/* ScrollArea */
scroll-area {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

scroll-area .content {
  width: 100% !important;
  height: 100% !important;
  overflow: auto;
}

/*scroll-area .content::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

scroll-area .content::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 2px;
}*/

scroll-area:before {
  content: '';
  display: none;
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 0 10px black;
}

scroll-area.scrolled:before {
  display: block;
}
