file-explorer {
  display: block;
  width: 100%;
  height: 100%;
}

file-explorer .nav-bar {
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  line-height: 45px;
  background-color: var(--primary-light);
  padding-left: 12px;
  padding-right: 12px;
}

file-explorer .path, file-explorer .action-bar {
  box-sizing: border-box;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 45px;
}

file-explorer .path > * , file-explorer .action-bar > * {
  vertical-align: top;
}

file-explorer .path {
  padding-top: 6px;
  padding-bottom: 3px;
  overflow-y: hidden;
  overflow-x: overlay;
  white-space: nowrap;
}

file-explorer .path::-webkit-scrollbar {
  height: 3px;
  background-color: transparent;
}

file-explorer .path::-webkit-scrollbar-thumb {
  background-color: var(--primary-lighter);
  height: 3px;
}

file-explorer .action-bar {
  padding-top: 3px;
  padding-bottom: 6px;
}

file-explorer .path div {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
}

file-explorer .path div:hover {
  background-color: var(--darker);
}

file-explorer .path span {
  font-family: material-icons;
  font-size: 24px;
  line-height: 36px;
}

file-explorer .search {
  box-sizing: border-box;
  background-color: var(--primary-lighter);
  color: var(--primary-text);
  border: none;
  border-radius: 4px;
  width: 280px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  padding-left: 12px;
  padding-right: 12px;
}

file-explorer .content {
  height: calc(100% - 82px);
}

explorer-element {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  line-height: 47px;
  border-bottom: 1px solid var(--primary-light);
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  user-select: none;
}

explorer-element.selected {
  background-color: var(--secondary);
  color: var(--secondary-text);
}

explorer-element.hidden {
  display: none;
}

explorer-element > * {
  display: inline-block;
  height: 47px;
  line-height: 47px;
  vertical-align: middle;
}

explorer-element .icon {
  font-family: material-icons;
  font-size: 24px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
}

/*explorer-element.selected .icon {
  background-color: white;
}*/

explorer-element .icon.file {
  color: #4285f4;
}

explorer-element .name {
  margin-left: 12px;
}
