/****************************************************************************************************/
/* Fonts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/font/MaterialIcons-Regular.ttf);
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Vertical alignement */
	position: relative;
	top: -1px;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';

	/* prevent selection */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}

/* Roboto Font */
@font-face {
    font-family: Roboto-Regular;
    src: url(/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(/font/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(/font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url(/font/Roboto/RobotoCondensed-Regular.ttf);
}

/****************************************************************************************************/
/* Variables */

:root {
  --primary: #212121;
  --primary-light: #484848;
  --primary-text: #ffffff;
  --secondary: #82ffa5;
  --danger: #f44336;
}

/****************************************************************************************************/
/* html, body */

html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: Roboto-Regular;
	background-color: var(--primary);
  color: var(--primary-text);
}

/****************************************************************************************************/
/* Universal class */

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
